body{
    background-image: url('../images/fonddepage.jpg');
    background-size: cover;
    min-height: calc(100vh - 60px);
    font-family: 'Smokum', serif;
}
#page{
    margin: 3px;
}
.texte{
    font-family: 'Arial', sans-serif;
}
.entete{
    background-color: #8B0000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    padding: auto;
    border-radius: 10px;
}
.perlinpinpin{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 10%;
    height: 10%;
    padding: auto;
    margin-top: 2%;
}
.centre{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: white;
    size: 30px;
    justify-content: center;
}
figure {
    display: flex;
    flex-flow: column;
    padding: 1px;
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
}
img{
    max-width: 800px;
    max-height: 700px;
}
.portrait {
    border: 3px #000 solid;
    max-width: 800px;
    max-height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
  
  figcaption {
    border-bottom: 3px #000 solid;
    background-color: #000;
    color: #fff;
    font: 'Smokum', serif;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
li{
    size: 16px;
}
.corps{
    margin: 3%;
    padding: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.resume{
    margin: 2%;
    padding: 30px;
    max-width: 50%;
    height: 90%;
    border: #000 solid;
    border-radius: 10px;
}
.gang{
    width: 100%;
    height: 100%;
    border: #000 solid;
    border-radius: 10px;
}
.bottom{
    margin: 3%;
    padding: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.analyse{
    margin: 2%;
    padding: 30px;
    border: #000 solid;
    border-radius: 10px;
}
.carnet{
    margin: 2%;
    padding: 1%;
    width: auto;
    height: auto;
}
.dessin{
    border-radius: 10px;
    border: #000 solid;
    width: 90%;
    height: 90%;
}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #8B0000;
    border-radius: 10px;
    justify-self: center;
    color: white;
}
a{
    color: white;
    margin: 20px;
}
h6{
    display: flex;
    align-items: end;
    padding-left: 3%;
    font-size: 16px;   
}
h2{
    display: flex;
    justify-content: center;

}
@media (max-width: 1025px) {
    #page{width: 100%;}
    .perlinpinpin{flex-direction: column;}
    .bottom{flex-direction: column-reverse;}
}