body{
    background-image: url('../images/fonddepage.jpg');
    background-size: cover;
    min-height: calc(100vh - 60px);
    font-family: 'Smokum', serif;
}
#page{
    margin: 3px;
}
.conteneur{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.texte{
    font-family: 'Arial', sans-serif;
}
.header__pate{
    display: flex;
    flex-direction: row;
}
.header__inner{
    background-color: #8B0000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    padding: auto;
    border-radius: 10px;
    margin: auto;
}
.principale{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    padding: auto;
}
.logo{
    width: 7%;
    height: 7%;
    padding: auto;
    margin-top: 2%;
    margin-right: 2%;
}
.centre{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: white;
    size: 30px;
    justify-content: center;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
figure {
    display: flex;
    flex-flow: column;
    padding: 1px;
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
}
img{
    max-width: 800px;
    max-height: 700px;
}
.portrait {
    border: 3px #000 solid;
    max-width: 800px;
    max-height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
  
  figcaption {
    border-bottom: 3px #000 solid;
    background-color: #000;
    color: #fff;
    font: 'Smokum', serif;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
li{
    size: 16px;
}
.corps{
    margin: auto;
    margin-bottom: 4%;
    padding: auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.resume{
    margin: 2%;
    padding: 30px;
    max-width: 60%;
    height: 80%;
    border: #000 solid;
    border-radius: 10px;
}
.gang{
    width: 100%;
    height: 100%;
    border: #000 solid;
    border-radius: 10px;
}
.droite{
    margin: auto;
    margin-bottom: 10%;
    padding: auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.analyse{
    margin: 2%;
    margin-top: 10%;
    padding: 30px;
    border: #000 solid;
    border-radius: 10px;
}
.carnet{
    margin: 2%;
    padding: 1%;
    width: auto;
    height: auto;
}
.dessin{
    border-radius: 10px;
    border: #000 solid;
    width: 90%;
    height: 90%;
}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #8B0000;
    border-radius: 10px;
    justify-self: center;
    color: white;
}
a{
    color: white;
    margin: 20px;
}
h6{
    display: flex;
    align-items: end;
    padding-left: 3%;
    font-size: 16px;   
}
h2{
    display: flex;
    justify-content: center;

}
@media (max-width: 1250px) {
    #page{
        width: 100%;
    }
    .corps{
        flex-direction: column;
    }
    .droite{
        flex-direction: column-reverse;
    }
    .droite{
        margin: auto;
    }
    .droite{ 
        margin-top: 2%;
    }
    .droite{ 
        margin-bottom: 2%;
    }
}
@media (max-width: 1025px) {
    #page{
        width: 100%;
    }
    .corps{
        flex-direction: column;
    }
    .droite{
        flex-direction: column-reverse;
    }
    .droite{
        margin-top: 12%;
     margin-top: 12%;}
    .corps{ 
        margin-left: 2%;
    }
    .corps{
        margin-bottom: 5%;
    }
    .corps{
        margin-top: 5%;
        justify-content: space-around;
    }
    .resume{
        margin-bottom: 9%;
    }
    .dessin{
        margin-top: 9%;
        padding: auto;
    }
}
@media (max-width: 750px){
    #page{
        width: 100%;
    }
    .centre{
        width: 80%;
    }
    .header__inner{
        flex-direction: column-reverse;
    }
    .header__pate{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        margin: auto;
        justify-content: right;
        width: 30%;
        height: 30%;
    }
    @media (max-width: 750px){
    #page{
        width: 100%;
    }
    .centre{
        width: 80%;
    }
    .header__inner{
        flex-direction: column-reverse;
    }
    .header__pate{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        margin: auto;
        justify-content: right;
        width: 30%;
        height: 30%;
    }
    h1{
        margin-left: 35%;
    }
    .principale{
        flex-direction: column;
    }
    .corps{
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 2%;
    }
    .resume{
        background-color: #000;
        color: #fff;
    }
    .analyse{
        background-color: #000; 
        color: #fff;
    }
    .portrait{
        margin-left: 50%;
    }
    figcaption{
        margin-left: 50%;
    }
    .liste{
         margin-left: 20%;
    }
}
    h1{margin-left: 35%;}
    .principale{
        flex-direction: column;
    }
    .corps{
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 2%;
    }
    .resume{
        background-color: #000;
        color: #fff;
    }
    .analyse{
        background-color: #000; 
        color: #fff;
    }
    .portrait{
        margin-left: 50%;
    }
    figcaption{
        margin-left: 50%;
    }
    .liste{ 
        margin-left: 20%;
    }
    .dessin{
        margin-left: 4%;
    }
}
@media (max-width: 431px){
    #page{
        width: 100%;
    }
    .centre{
        width: 80%;
    }
    .header__inner{
        flex-direction: column-reverse;
    }
    .header__pate{
        flex-direction: column;
        justify-content: center;
        margin: auto;
}
    .logo{
        margin: auto;
        justify-content: right;
        width: 30%;
        height: 30%;
    }
    h1{
        margin-left: 35%;
    }
    .principale{
        flex-direction: column;
    }
    .corps{
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 2%;
    }
    .resume{
        background-color: #000;
        color: #fff;
    }
    .analyse{
        background-color: #000; 
        color: #fff;
    }
    .portrait{
        margin-left: 0%;
    }
    figcaption{
        margin-left: 0%;
    }
}
