html{
    background-image: url('../images/fonddepage.jpg');
    background-size: cover;
}
.entete{
    background-color: #8B0000;
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 70%;
    margin: 30px;
}
h1{
    color: white;
    size: 30px;
    justify-content: center;
}
img{
    width: 30%;
    height: 50%;
    margin: 20px;
}